{% extends 'layouts/base.html' %}

{% import 'components/forms.html' as form %}

{% block conteudo %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form action="{{ url_for('login') }}" method="POST">
                {{ form.input('email', 'Insira um email', 'email') }}
                {{ form.input('text', 'Insira um nome', 'name') }}
                <div class="text-end">
                    <input type="submit" value="Logar" class="btn btn-success ">
                </div>
            </form>
            {{ contact }}
        </div>
    </div>
</div>

{% endblock %}